@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.oneLine {
  display: flex;
  justify-content: space-between;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.buy-now {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-now:hover {
  background-color: darkblue;
}

.box {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: rgba(41, 48, 86) !important;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.SellHome {
  font-family: Arial, sans-serif;
}

.SellHome-content {
  max-width: 800px;
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.input-group {
  margin-bottom: 30px;
}

.input-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #45a049;
}

.SellHome-link {
  color: #61dafb;
}
